{% extends 'base.html' %}

{% block head %} 
<title>Thappa Potutiya</title>
{% endblock %}

{% block body %} 
<h1>Thappu panna seekram maathu </h1>

    <hr>
    <h2>Edit your ssn-confession:</h2>
    <form action = '/posts/edit/{{post.id}}' method = 'POST'>
        <label for="title">Title</label> 
        <input class="form-control" type="text" name='title' id='title' value = '{{ post.title }}'>
        <br>
        <label for="author">Author</label> 
        <input class="form-control" type="text" name='author' id='author' value = '{{ post.author }}'>
        <br>
        <div class="form-group">
            <label for="content">Post</label>
            <textarea class="form-control" name='content' id='content' rows="3">{{ post.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-success" value="save">Save</button>
    </form>
    <hr>

{% endblock %}
