{% extends 'base.html' %}

{% block head %}
<title>Vanakkam</title>
{% endblock %}

{% block body %}
<br>
<h1>Vanakkam Thalaiva</h1>
<br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to NRAP</h1>
            <p><code style="font-size: large;">NRAP</code> has gained official recognition from two of the most
                eminent and famous personalities of our State; Hon'ble Thiru."Captain" Vijayakant and Hon'ble
                Thiru.T.Rajendran, actor and rising politician.
            <blockquote class="blockquote">
                <p class="mb-0" style="font-style: italic;">Quad comm Rajavel Processor
                </p>
                <footer class="blockquote-footer"><cite title="Bharath">Shaw.rat</cite>
                </footer>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0" style="font-style: italic;">Bumsu
                </p>
                <footer class="blockquote-footer"><cite title="Pattasu Balu">Pattasu Balu</cite>
                </footer>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0" style="font-style: italic;">Lol she has a huge mame
                </p>
                <footer class="blockquote-footer"><cite title="Pentabh">Pentabh</cite>
                </footer>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0" style="font-style: italic;">Hemalatha mama
                </p>
                <footer class="blockquote-footer"><cite title="Buttonthan">Buttonthan</cite>
                </footer>
            </blockquote>
            NRAP will be politically neutral and will not participate in any political protest.
            Checkout the <a href="https://www.ajithfans.com/">Thala</a> and <a href="https://www.thalaiva.in/">Thalapathy</a> fanclubs.</p>
            <p>
                <a class="btn btn-primary" href="https://www.youtube.com/watch?v=SQ9a7dJL-Dc" role="button">View club
                    video&raquo;</a>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts&raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}