{% extends 'base.html' %}

{% block head %}
<title>Vanakkam</title>
{% endblock %}

{% block body %}
<br>
<h1>Vanakkam Thalaiva</h1>
<br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to NRAP</h1>
            <p><code style="font-size: large;">NRAP</code> Sangam will work better with the support of all the actors
                and committee members. With
                the help of Agaram foundation team, statistical data will be collected about the members of this
                association. According to
                the data collected each and every member will benefit through the policies and schemes. The committee
                will concentrate towards benefiting underprivileged members and their children’s education, he said.
                Sangam will be politically neutral and will not participate in any political protest.
                Checkout the <a href="https://www.ajithfans.com/">Thala</a> and <a
                    href="https://www.thalaiva.in/">Thalapathy</a> fanclubs.</p>
            <p>
                <a class="btn btn-primary" href="https://www.youtube.com/watch?v=SQ9a7dJL-Dc" role="button">View club
                    video&raquo;</a>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts&raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}